name: Node CI

on: [push]

jobs:
  build-webapp:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Move to ./webapp
      run: cd ./webapp
    - name: npm install, build, and test
      run: |
        npm install
        npm run build
        npm test

  build-server:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Move to ./server
      run: cd ./webapp
    - name: npm install, build, and test
      run: |
        npm install
        npm run build
        npm test
